<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<div class="main"> 
			<h3>Random posts for you</h3>
			<div class="posts">
				<% posts.forEach(post => {%>
				<%- include('./partials/post.ejs', { post: post }); %>
				<% }); %>
			</div>
		</div>
		<div class="sidebar">
			<%- include('./partials/sidebarfavorites.ejs') %>
			<%- include('./partials/footer.ejs') %>
		</div>
	</div>
</body>
</html>