<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<div class="main">
			<div class="postpage">
				<h1 id="title"><%= post.title %></h1>
				<h1 id="price">$<%= post.price %></h1>
				<div style="clear:both;"></div>
				<img src="/<%= post.picture_filename %>" alt="Post Picture">
				<h2 id="address">Address</h2>
				<p><%= post.address %></p>
				<h2>Description</h2>
				<p><%= post.description %></p>
				<h2>Category</h2>
				<p><%= category.category_name %></p>
				<div class="postfooter">
					<p><%= post.publication_timestamp %></p>
					<p>Viewed: <%= post.view_count %></p>
					<p>Favorited: <%= post.favorite_count %></p>
				</div>
				<a id="favoriteAdd" data-doc="<%= post.post_id %>"><button>Add to favorites</button></a>
				<a id="favoriteDelete" data-doc="<%= post.post_id %>"><button>Delete from favorites</button></a>
				<a href="/post/edit/<%= post.post_id %>"><button>Edit</button></a>
				<button>Close</button>
				<a class="delete" data-doc="<%= post.post_id %>"><button class="delete">Delete</button></a>
				<script src="/javascript/post.js"></script>
			</div>
		</div>
		<div class="sidebar">
			<%- include('./partials/profile.ejs', user) %>
			<button id="write">Write to owner</button>
		</div>
	</div>
	<%- include('./partials/footer.ejs') %>
</body>
</html>
