<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<div class="main">

			<% if (post.closed) { %>
			<div id="closed-alert"> 
			<% } else { %>
			<div id="closed-alert" style="display: none;">
			<% } %>

			<h2>This post has been closed</h2></div>

			<% if (post.closed) { %>
			<div class="postpage closed">
			<% } else { %>
			<div class="postpage">
			<% } %>
				<h1 id="title"><%= post.title %></h1>
				<h1 id="price">$<%= post.price %></h1>
				<div style="clear:both;"></div>
				<img src="/<%= post.picture_filename %>" alt="Post Picture" onerror="this.style.display='none'">
				<h2 id="address">Address</h2>
				<p><%= post.address %></p>
				<h2>Description</h2>
				<p><%= post.description %></p>
				<h2>Category</h2>
				<p><%= category.category_name %></p>
				<div class="postfooter">
					<p><%= post.publication_timestamp %></p>
					<p>Viewed: <%= post.view_count %></p>
					<p>Favorited: <%= post.favorite_count %></p>
				</div>
				
				<% if (typeof user !== 'undefined' && user) { %>
				
				<a id="favorite" data-doc="<%= post.post_id %>"><button id="favorite">
				
				<% if (favorite) { %>
				Remove from favorites
				<% } else { %>
				Add to favorites
				<% } %>

				</button></a>

				<a href="/favorites" style="margin-left: 10px;">All favorites</a>

				<div class="postcontrol" style="float: right;">

				<% if (owner.user_id === user.user_id) { %>
					<a id="close" data-doc="<%= post.post_id %>"><button id="close">
					<% if (post.closed) { %>
					Open
					<% } else { %>
					Close
					<% } %>
					</button></a>
					<a href="/post/edit/<%= post.post_id %>"><button>Edit</button></a>
					<a class="delete" data-doc="<%= post.post_id %>"><button class="delete">Delete</button></a>
				<% } else if (user.role_id === 2) { %>
					<button data-id="<%= post.post_id %>" class="delete" id="block">Block</button>
				<% } %>

				</div>

				<% } %>
			</div>
		</div>
		<div class="sidebar">

			<div class="profile">
				<div>
					<a href="/user/<%= owner.username %>">
						<div id="profilepicture">
							<img src="/<%= owner.picture_filename %>"  alt="" onerror="this.src='/img/default.jpg'; this.onerror = () => {}">
						</div>
					</a>
				</div>
				<a href="/user/<%= owner.username %>">
					<h3 id="name"><%= owner.displayname %></h3>
				</a>
				<div class="profileinfo">
					<p><%= owner.email %></p>
				</div>
				<div class="rating">
					<span><div data-rating="<%= owner.rating %>" id="average">
					</div>(<span class="average"></span>)</span>
				</div>
			</div>
			<!--
			<button id="write">Write to owner</button>
			-->
			
		</div>
	</div>
	<%- include('./partials/footer.ejs') %>
	<script src="/javascript/starRating.js"></script>
	<script src="/javascript/frontendLogic/averageRating.js"></script>
	<script src="/javascript/frontendLogic/post.js"></script>
</body>
</html>
