<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<div class="main"> 
			<div class="profile" data-username="<%= user.username %>">
				<div>
					<a href="/profile %>">
						<div id="profilepicture">
							<img src="/<%= user.picture_filename %>" alt="" onerror="this.src='/img/default.jpg'; this.onerror = () => {}">
						</div>
					</a>
				</div>
				<div class="profileinfo">
					<h2 id="name"><%= user.displayname %></h2>
					<p>Username: <%= user.username %></p>
					<% if (user.email) { %>
					<p>Email: <%= user.email %></p>
					<% } %>
					<% if (user.address) { %>
					<p>Address: <%= user.address %></p>
					<% } %>
					<p>Joined: <%= user.joined_timestamp %></p>
				</div>
				<div class="rating" style="flex-basis: 100%">
					<span><div data-rating="<%= user.rating %>" id="average">
					</div>(<span class="average"></span>)</span>
				</div>
				<div>
					<a href="/profile/edit"><button>Edit</button></a>
					<a class="delete"><button class="delete">Delete</button></a>
				</div>
			</div>

			<h3 style="margin-bottom: 10px;">Your posts</h3>
			<button id="open" class="tab active">Open</button>
			<button id="closed" class="tab">Closed</button>
			<div id="open" class="posts tabbed" style="display: none;">
				<div class="empty" style="display: none;"><h3>Empty</h3></div>
			</div>
			<div id="closed" class="posts tabbed" style="display: none;">
				<div class="empty" style="display: none;"><h3>Empty</h3></div>
			</div>

		</div>
		<div class="sidebar">
			<% if (typeof user !== 'undefined' && user) { %>
				<%- include('./partials/sidebarfavorites.ejs') %>
			<% } %>
		</div>
	</div>
	<%- include('./partials/footer.ejs') %>
	<script src="/javascript/tag.js"></script>
	<script src="/javascript/makePost.js"></script>
	<script src="/javascript/gettingPosts/postGetter.js"></script>
	<script src="/javascript/gettingPosts/profilePosts.js"></script>
	<script src="/javascript/gettingPosts/favoritePostsSide.js"></script>
	<script src="/javascript/starRating.js"></script>
	<script src="/javascript/frontendLogic/averageRating.js"></script>
	<script src="/javascript/frontendLogic/profile.js"> </script>
</body>
</html>