<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<div class="main"> 
			<div class="profile">
				<a href="/profile/<%= user.username %>">
					<div id="profilepicture">
						<img src="/<%= user.picture_filename %>" alt="Profile Picture">
					</div>
				</a>
				<div id="rating">
					
				</div>
				<div style="clear:both;"></div>
				<a href="/profile/<%= user.username %>">
					<h2 id="name"><%= user.displayname %></h2>
				</a>
				<div class="profilefooter">
					<p>Joined <%= user.joined_timestamp %></p>
				</div>
				<a href="/profile/edit/<%= user.username %>"><button>Edit</button></a>
				<a class="delete" data-doc="<%= user.username %>"><button class="delete">Delete</button></a>
				<script src="/javascript/profile.js"> </script>
			</div>
			<h3>Your posts</h3>
			<div id="open" class="posts">

			</div>
			<h3>Your closed posts</h3>
			<div id="closed" class="posts">

			</div>
		</div>
		<div class="sidebar">
			<%- include('./partials/sidebarfavorites.ejs') %>
		</div>
	</div>
	<%- include('./partials/footer.ejs') %>
	<script src="/javascript/tag.js"></script>
	<script src="/javascript/makePost.js"></script>
	<script src="/javascript/getPosts.js"></script>
	<script src="/javascript/getFavoritePosts.js"></script>
	<script src="/javascript/profilePosts.js"></script>
	<script src="/javascript/favoritePostsSide.js"></script>
</body>
</html>