<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<div class="main"> 
			<%- include('./partials/profile.ejs') %>
			<h3>Your posts</h3>
			<div class="posts">
				<div class="post"></div>
				<div class="post"></div>
				<div class="post"></div>
				<div class="post"></div>
				<div class="post"></div>
				<div class="post"></div>
				<div class="post"></div>
				<div class="post"></div>
				<div class="post"></div>
				<div class="post"></div>
				<div class="post"></div>
				<div class="post"></div>
				<div class="post"></div>
				<div class="post"></div>
				<div class="post"></div>
			</div>
		</div>
		<div class="sidebar">
			<%- include('./partials/sidebarfavorites.ejs') %>
		</div>
	</div>
	<%- include('./partials/footer.ejs') %>
</body>
</html>