<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<form class="forminput" id="createuser" name="createuser" onsubmit="return false">

			<h2>Edit profile</h2>

			<% if(user.picture_filename && user.picture_filename.length) { %>

			<div id="profilepicture">
				<img id="preview" src="/<%=user.picture_filename%>"/>
			</div>

			<div>
				<button class="delete" id="delete" type="button">Delete picture</button>
			</div>

			<label id="change">Change picture</label>
			<label id="choose" style="display: none">Choose picture</label>

			<% } else { %>

			<div style="display: none;" id="profilepicture">
				<img id="preview" src=""/>
			</div>

			<label id="choose">Choose picture</label>

			<% } %>

			<div>
				<input type="file" accept=".png, .jpg, .jpeg" id="picture" name="picture" ><button type="button" style="display: none;" id="clear">Clear</button>
			</div>

			<label>Display name</label>
			<div class="forminput" id="displayname">
				<input type="text" id="displayname" placeholder="Display name" name="displayname" value="<%= user.displayname %>" required>
			</div>

			<label>E-mail</label>
			<div class="forminput">
				<input type="text" id="email" placeholder="E-mail" name="email" value="<%= user.email %>">
			</div>

			<label>Address</label>
			<div class="forminput" id="address">
				<textarea type="text" id="address" placeholder="Address" rows=3 name="address"><%= user.address %></textarea>
			</div>

			<div>
				<button id="submit" type="button">Submit</button>
				<a href="/profile"><button type="button">Cancel</button></a>
			</div>

		</form>
	</div>
	<%- include('./partials/footer.ejs') %>
	<script src="/javascript/frontendLogic/updateuser.js"></script>
</body>
</html>