<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">

		<form class="forminput" id="createpost" onsubmit="return false" data-post_id='<%= post.post_id  %>'>

			<h2>Edit post</h2>

			<% if(post.picture_filename && post.picture_filename.length) { %>

			<div>
				<img id="preview" style="width: 100%;" src="/<%= post.picture_filename %>"/>
			</div>

			<div>
				<button class="delete" id="delete">Delete picture</button>
			</div>

			<label id="change">Change picture</label>
			<label id="choose" style="display: none">Choose picture</label>

			<% } else { %>

			<div>
				<img style="display: none; width: 100%;" id="preview" src=""/>
			</div>

			<label id="choose">Choose picture</label>

			<% } %>

			<div>
				<input type="file" accept=".png, .jpg, .jpeg" id="picture" name="picture"><button type="button" style="display: none;" id="clear">Clear</button>
			</div>

			<label>Title</label>
			<div class="forminput" id="title">
				<input type="text" id="title" placeholder="Title" name="title" value="<%= post.title %>">
			</div>

			<label>Price</label>
			<div class="forminput" id="price">
				<input type="number" min="0" step="1" id="price" placeholder="Price" name="price" value="<%= post.price %>">
			</div>

			<label>Description</label>
			<div class="forminput" id="description">
				<textarea type="text" id="description" placeholder="Description" rows=8 
				form="createpost" name="description"><%= post.description %></textarea>
			</div>
			
			<label>Address</label>
			<div class="forminput" id="address">
				<textarea type="text" id="address" placeholder="Address" rows=3 name="address"><%= post.address %></textarea>
			</div>

			<label>Category</label>
			<div>
				<select id="category" name="category" data-cat="<%= post.category_id %>">
				</select>
			</div>

			<div>
				<button id="submit" type="button">Submit</button>
				<a href="/post/<%= post.post_id %>"><button type="button">Cancel</button></a>
			</div>
			
		</form>
	</div>
	<%- include('./partials/footer.ejs') %>
	<script src="/javascript/frontendLogic/updatepost.js"></script>
</body>
</html>