<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<div class="main"> 
			<div class="profile" data-username="<%= owner.username %>">
				<a href="/user/<%= owner.username %>">
					<div id="profilepicture">
						<img src="/<%= owner.picture_filename %>" alt="Profile Picture">
					</div>
				</a>
				<div id="rating">
					
				</div>
				<div style="clear:both;"></div>
				<a href="/user/<%= owner.username %>">
					<h2 id="name"><%= owner.displayname %></h2>
				</a>
				<div class="profilefooter">
					<p>Username: <%= owner.username %></p>
					<p>Email: <%= owner.email %></p>
					<p>Address: <%= owner.address %></p>
					<p>Joined: <%= owner.joined_timestamp %></p>
				</div>
			</div>

			<button onclick="showOpen()">Open</button> <button onclick="showClosed()">Closed</button>
			
			<div id="open" class="posts">
				<h3 style="flex-basis: 100%"><%= owner.displayname %>'s posts</h3>
				
			</div>
			
			<div id="closed" class="posts">
				<h3 style="flex-basis: 100%"><%= owner.displayname %>'s closed posts</h3>
				
			</div>
			
		</div>
		<div class="sidebar">
			<% if (typeof user !== 'undefined' && user) { %>
				<%- include('./partials/sidebarfavorites.ejs') %>
			<% } %>
		</div>
	</div>
	<%- include('./partials/footer.ejs') %>
	<script src="/javascript/tag.js"></script>
	<script src="/javascript/makePost.js"></script>
	<script src="/javascript/gettingPosts/postGetter.js"></script>
	<script src="/javascript/gettingPosts/profilePosts.js"></script>
	<% if (typeof user !== 'undefined' && user) { %>
		<script src="/javascript/gettingPosts/favoritePostsSide.js"></script>
	<% } %>
</body>
</html>