<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<div class="main"> 
			<div class="profile">
				<a href="/user/<%= owner.username %>">
					<div id="profilepicture">
						<img src="/<%= owner.picture_filename %>" alt="Profile Picture">
					</div>
				</a>
				<div id="rating">
					
				</div>
				<div style="clear:both;"></div>
				<a href="/user/<%= owner.username %>">
					<h2 id="name"><%= owner.displayname %></h2>
				</a>
				<div class="profilefooter">
					<p>Joined <%= owner.joined_timestamp %></p>
				</div>
			</div>
			<h3><%= owner.displayname %>'s posts</h3>
			<div id="open" class="posts">

			</div>
			<h3><%= owner.displayname %>'s closed posts</h3>
			<div id="closed" class="posts">

			</div>
		</div>
		<div class="sidebar">
			<!--<%- include('./partials/sidebarfavorites.ejs') %>-->
		</div>
	</div>
	<%- include('./partials/footer.ejs') %>
	<script src="/javascript/tag.js"></script>
	<script src="/javascript/makePost.js"></script>
	<!--
	<script src="/javascript/getPosts.js"></script>
	<script src="/javascript/getFavoritePosts.js"></script>
	<script src="/javascript/profilePosts.js"></script>
	<script src="/javascript/favoritePostsSide.js"></script>
	-->
</body>
</html>