<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/topbar.ejs') %>
	<div class="content">
		<div class="main"> 
			<div class="profile" data-username="<%= owner.username %>" data-id="<%= owner.user_id %>">
				<div>
					<a href="/user/<%= owner.username %>">
						<div id="profilepicture">
							<img src="/<%= owner.picture_filename %>" alt="Profile Picture">
						</div>
					</a>
				</div>
				<div class="profileinfo">
					<h2 id="name"><%= owner.displayname %></h2>
					<p>Username: <%= owner.username %></p>
					<% if (owner.email) { %>
					<p>Email: <%= owner.email %></p>
					<% } %>
					<% if (owner.address) { %>
					<p>Address: <%= owner.address %></p>
					<% } %>
					<p>Joined: <%= owner.joined_timestamp %></p>
				</div>
				<div class="rating">
					<span><div data-rating="<%= owner.rating %>" id="average">
					</div>(<span class="average"></span>)</span>
					<% if (typeof user !== 'undefined' && user) { %>
						<span><div data-rating="<%= rating %>" id="stars"></div></span>
					<% } %>
				</div>
			</div>

			<h3 style="margin-bottom: 10px;"><%= owner.displayname %>'s posts</h3>
			<button id="open" class="tab active" onclick="showOpen()">Open</button>
			<button id="closed" class="tab" onclick="showClosed()">Closed</button>
			<div id="open" class="posts tabbed">
				<div class="empty" style="display: none;"><h3>Empty</h3></div>
			</div>
			<div id="closed" class="posts tabbed">
				<div class="empty" style="display: none;"><h3>Empty</h3></div>
			</div>
			
		</div>
		<div class="sidebar">
			<% if (typeof user !== 'undefined' && user) { %>
				<%- include('./partials/sidebarfavorites.ejs') %>
			<% } %>
		</div>
	</div>
	<%- include('./partials/footer.ejs') %>
	<script src="/javascript/tag.js"></script>
	<script src="/javascript/makePost.js"></script>
	<script src="/javascript/gettingPosts/postGetter.js"></script>
	<script src="/javascript/gettingPosts/profilePosts.js"></script>
	<% if (typeof user !== 'undefined' && user) { %>
		<script src="/javascript/gettingPosts/favoritePostsSide.js"></script>
	<% } %>
	<script src="/javascript/starRating.js"></script>
	<script src="/javascript/frontendLogic/user.js"></script>
	<script src="/javascript/frontendLogic/averageRating.js"></script>
</body>
</html>